.comment-container {
    position: relative;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    border: solid 2px var(--yellow);
    border-radius: 15px;
    padding: 10px;
}

.comment-container img {
    height: 80%;
    border-radius: 50%;
    margin-right: 15px;
}

.info-comment {
    width: 80%;
}
.info-comment h3 {
    text-align: left;
}