:root {
  --yellow: #EABB55;
  --orange: #CB6E4F;
  --black: #14120e;
}

*{
  font-family: 'Amaranth', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Varela Round', sans-serif;
  
  color: #fff;
}
body {
  margin: 0%;
  background-color: var(--black);
}

h1 {
  font-size: 50px;
  text-align: center;
  transition: 0.3s;
}
h1:hover {
  font-size: 60px;
  transition: 0.3s;
}
h3 {
  margin: 5px;
  text-align: center;
}


.main {
  position: relative;
  margin: 85px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}